.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
  display: flex;
}

.modal-content {
  background: white;
  padding: 2em;
  border-radius: 8px;
}

p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

label {
  width: 60px; /* ラベルの幅を固定 */
  text-align: right;
}

input {
  flex: 1; /* 入力欄を残りのスペースに広げる */
  padding: 5px;
}

table {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
th {
 padding: 10px;
 background: #e9faf9;
 border: solid 1px #778ca3;
}
td {
 padding: 10px;
 border: solid 1px #778ca3;
}

.right {
  text-align: right;
}

.yay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: #ff4081;
  animation: popUp 1s ease-out forwards;
}

@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -150%) scale(0.8);
    opacity: 0;
  }
}

textarea {
  width: 300px;
  height: 100px;
}

.info::before{
    content: "i";
    font-size: 85%;
    margin-right: 5px;
    display: inline-block;
    vertical-align: 2px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5;
    border-radius: 50%;
    background: #4287f5;
    color: #FFF;
    font-weight: bold;
}